.container:after {
  clear: both;
  content: '';
  display: block;
}
.item {
  border: 1px solid #999;
  box-sizing: border-box;
  float: left;
  margin-bottom: 1em;
  max-width: 102px;
  width: 20%;
}
@media screen and (max-width: 320px) {
  .item {
    float: none;
    width: auto;
  }
}
.blue {
  background-color: royalblue;
  height: 100px;
}
.purple {
  background-color: blueviolet;
  height: 200px;
}
