.container:after {
  clear: both;
  content: '';
  display: block;
}
.item {
  border: 1px solid #999;
  float: left;
  width: 100px;
  height: 100px;
  margin-bottom: 1em;
}
.blue {
  background-color: royalblue;
}
.purple {
  background-color: blueviolet;
}
