.container1:after,
.container2:after {
  clear: both;
  content: '';
  display: block;
}
.item {
  float: left;
  width: 102px;
  padding: 8px;
  border: 1px solid #999;
}
.blue {
  background-color: royalblue;
}
.purple {
  background-color: blueviolet;
}
